<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to home work - 4</p>
    <a class="product__btn" href="/products">Go to produts</a>
  </body>
</html>
